.container
  .row
    #header.col-xs-12.col-lg-12.center-text
      %h1.fade1.logo
        = image_tag 'Gramr_main_logo_white.png', width: "200", alt: "Logo"
      %h2.fade2 Website Coming Soon

  .row#signup
    .row
      .fade3.col-lg-offset-3.col-lg-6.center-text
        %h3 Be the first to know about the gratitude movement!
        .col-lg-7
          = form_for Message.new, method: :post, class: "form" do |f|
            .row
              = f.email_field :email, placeholder: "YOUR E-MAIL PLEASE ?", class: "root-page"
              %span= f.submit "Submit", class: "btn btn-default btn-lg root-page-button"

      .col-lg-7.centered.text-center.fade3.social
        .col-lg-3.text-center
          = link_to "http://instagram.com/gramrgratitude", target: "_blank" do
            %span
              %i.fa.fa-instagram.fa-fw 
        .col-lg-3.text-center
          = link_to "https://twitter.com/gramrgratitude", target: "_blank" do
            %span
              %i.fa.fa-twitter.fa-fw 
        .col-lg-3.text-center
          = link_to "https://www.facebook.com/gramrgratitude", target: "_blank" do
            %span
              %i.fa.fa-facebook.fa-fw 
        .col-lg-3.text-center
          = link_to "http://www.pinterest.com/gramrgratitude/", target: "_blank" do
            %span
              %i.fa.fa-pinterest.fa-fw 
