%section#header
  .row
    - if flash[:error]
      .alert.alert-danger
        %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}} &times;
        = flash[:error]
    - elsif flash[:info]
      .alert.alert-info
        %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}} &times;
        = flash[:info]
    - elsif flash[:alert]
      .alert.alert-info
        %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}} &times;
        = flash[:alert]
    - elsif flash[:notice]
      .alert.alert-success
        %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}} &times;
        = flash[:notice]

    .twelve.columns.centered
      %h1.fade1.logo
        = image_tag 'Gramr_main_logo_white.png', width: "200", alt: "Logo"
      %h2.fade2 Website Coming Soon
%section#signup
  .row
    .fade3.seven.columns.centered
      %h3 Be the first to know about the gratitude movement!

      = form_for Message.new, method: :post do |f|
        .eight.columns
          = f.email_field :email, placeholder: "YOUR E-MAIL PLEASE ?"
        .four.columns
          = f.submit "Submit"

    .seven.columns.centered.text-center.fade3.social
      .three.columns.text-center
        = link_to "http://instagram.com/gramrgratitude", target: "_blank" do
          %span
            %i.fa.fa-instagram.fa-fw 
      .three.columns.text-center
        = link_to "https://twitter.com/gramrgratitude", target: "_blank" do
          %span
            %i.fa.fa-twitter.fa-fw 
      .three.columns.text-center
        = link_to "https://www.facebook.com/gramrgratitude", target: "_blank" do
          %span
            %i.fa.fa-facebook.fa-fw 
      .three.columns.text-center
        = link_to "http://www.pinterest.com/gramrgratitude/", target: "_blank" do
          %span
            %i.fa.fa-pinterest.fa-fw 
