- content_for :head do
  = stylesheet_link_tag 'welcome'

.container.spacer
  .row
    #header.col-xs-12.col-lg-12.center-text
      %h1.fade1.logo
        = image_tag 'Gramr_main_logo_white.png', width: "200", alt: "Logo"
      %h2.fade2 Website Coming Soon

  .row#signup
    .row
      .fade3.col-lg-offset-3.col-lg-6.col-sm-offset-2.col-sm-8
        %h3.center-text Be the first to know about the gratitude movement!
        = form_for Message.new, method: :post, class: "form" do |f|
          #email-form-welcome
            = f.email_field :email, placeholder: "YOUR E-MAIL PLEASE ?", class: "root-page col-sm-12 col-md-7"
            = f.submit "Send", class: "btn-lg root-page-button col-sm-12 col-md-4"

    .col-md-offset-2.col-md-8.centered.text-center.fade3.social.spacer
      .col-lg-3.text-center
        = link_to "http://instagram.com/gramrgratitude", target: "_blank" do
          %i.fa.fa-instagram.fa-3x
      .col-lg-3.text-center
        = link_to "https://twitter.com/gramrgratitude", target: "_blank" do
          %span
            %i.fa.fa-twitter.fa-3x
      .col-lg-3.text-center
        = link_to "https://www.facebook.com/gramrgratitude", target: "_blank" do
          %span
            %i.fa.fa-facebook.fa-3x
      .col-lg-3.text-center
        = link_to "http://www.pinterest.com/gramrgratitude/", target: "_blank" do
          %span
            %i.fa.fa-pinterest.fa-3x